// Spacing

.single .content p {
    margin: 0.5rem 0 1.1rem 0;
}

.single .content :is(h2, h3, h4, h5, h6) {
    font-family: $header-title-font-family;
    letter-spacing: 0.03rem;
    line-height: 1.7rem;
}

.single .single-title,
.summary h1 {
    font-family: $header-title-font-family;
    letter-spacing: 0.03rem;
}


.home-profile h1 {
    font-family: $header-title-font-family;
}

.single .post-meta .author,
.single .post-meta a {
    font-family: $header-title-font-family;
    font-size: 0.8rem;
}



.single .post-footer .post-tags {
    max-width: 99%;
}