// ==============================
// Override Variables
// ==============================

// USAGE

@import "_custom.css";

// Fonts
// @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@0;1&family=JetBrains+Mono:ital@0;1&family=PT+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@0;1&family=Gentium+Book+Plus:ital@0;1&family=JetBrains+Mono:ital@0;1&display=swap');

$global-font-family: 'Atkinson Hyperlegible', 'PT Sans', Inter, sans-serif;
$global-font-size: 1.1rem;
$header-title-font-family: 'Gentium Book Plus', 'Crimson Pro', Georgia, serif;
$header-title-font-size: 1.3rem;
$code-font-family: 'JetBrains Mono', 'Fira Code', 'Source Code Pro', Menlo, Consolas, Monaco;
$code-font-size: 0.7rem;

// Spacing
$global-line-height: 1.4rem;


// Colors
$global-link-hover-color: #00bd6e; // #25e417
$global-link-hover-color-dark: #ef6ba0; // #00e384; // #23fe12

$single-link-color: #ef6ba0; // #26a5cc
$single-link-color-dark: #00e384; // #49b9db

$single-link-hover-color: #00bd6e;
$single-link-hover-color-dark: #ef6ba0; // #00e384;

$blockquote-color: #00bd6e;
$blockquote-color-dark: #ef6ba0; // #00e384;